---
- name: RedHat | Add repo
  yum_repository:
    name: "mongodb-org-{{ mongodb_version }}"
    description: 'MongoDB Repository'
    baseurl: "{{ mongodb_repo_baseurl }}"
    gpgcheck: "{{ mongodb_repo_gpgcheck }}"
    gpgkey: "{{ mongodb_repo_gpgkey }}"

- name: RedHat | Install Packages
  yum:
    name: "{{ item }}"
    state: present
  with_items: "{{ mongodb_packages }}"
  notify: restart mongod
